body{
  margin: 0;
  padding: 0;
  font-family: 'DM Sans';
  background-color: white;
}
.header{
  width: 100%;
  height: 75px;
  border-bottom: 1px solid rgb(220, 220, 220);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.441);
  backdrop-filter: blur(10px);
}

/*Page1*/
.page1{
  width: 100%;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner1{
  margin-top: 40px;
  width: 95%;
  height: 90vh;
  border-radius: 25px;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstbanner{
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bannertag{
  padding: 12px;
  border: 2px solid white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannertagdiv{
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 20px;
}
.tag{
  width: 25px;
  height: 25px;
  border-radius: 40px;
  background-color: white;
}
.name{
  font-size: 14px;
  color: white;
  font-weight: 600;
  margin-left: 12px;
}
.banner1heading{
  width: 60%;
  font-size: 72px;
  font-weight: 600;
  color: white;
}
.banner1subhead{
  width: 60%;
  height: auto;
  margin-top: 12px;
  color: rgb(215, 213, 255);
  font-size: 16px;
  font-weight: 400;
}

.secondbanner{
  width: 50%;
  height: 90%;
  background-color: aliceblue;
}